body {
	max-width: 600px;
	margin: auto;
}

textarea {
  resize: none;
}

.fixed {
  max-width: 30%;
  float: left;
  position: fixed;
}

.close {
  float: right;
  color: red;
}

.users {

}

.tweets {
	width: 65%;
	float: right;
}

.tweet {

}