body {
	max-width: 500px;
	margin: auto;
}

textarea {
  resize: none;
}

.fixed {
  max-width: 40%;
  float: left;
  position: fixed;
}

.close {
  float: right;
  color: red;
}

.users {

}

.tweets {
	width: 60%;
	float: right;
}

.tweet {

}